@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* header{
    background-image: url("../assets/escenario1/escenario1.jpg");
    background-size: cover;
    height: 100 vh;
    width: 100 vh;
} */

* {
    box-sizing: border-box;
}

body {
    background-color: #edeef6;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

#escenario1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    max-height: 100%;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(20, 5%);
    max-height: 100%;
    z-index: -1;
}

.sol {
    grid-column: 20 / 24;
    grid-row: 1 / 5;
}

#sol {
    height: 100%;
    width: 100%;
}

.arbol {
    grid-column: 1 / 15;
    grid-row: 1 / 10;
}

#arbol {
    height: 100%;
    width: 100%;
}

.arbol-texto-div {
    grid-column: 12;
    grid-row: 5;
}

.vaca {
    grid-column: 10/22;
    grid-row: 10/22;
}

.vaca-texto-div {
    grid-column: 14;
    grid-row: 8;
}

#vaca {
    max-height: 100%;
    max-width: 100%;
}

.lagartija-texto-div {
    grid-column: 2;
    grid-row: 15;
}

.lagartija {
    grid-column: 2/10;
    grid-row: 17/25;
}

#lagartija {
    height: 100%;
    width: 100%;
}

.cangrejo {
    grid-column: 28/31;
    grid-row: 10/13;
}

#cangrejo {
    height: 100%;
    width: 100%;
}

.cangrejo-texto-div {
    grid-column: 28;
    grid-row: 7;
}

.pez {
    grid-column: 23/26;
    grid-row: 16/19;
}

#pez {
    height: 100%;
    width: 100%;
}

.pez-texto-div {
    grid-column: 24;
    grid-row: 14;
}

.escorpion {
    grid-column: 26/32;
    grid-row: 17/22;
}

#escorpion {
    height: 100%;
    width: 100%;
}

.escorpion-texto-div {
    grid-column: 20;
    grid-row: 18;
}

.tortuga {
    grid-column: 32/39;
    grid-row: 13/20;
}

#tortuga {
    height: 100%;
    width: 100%;
}

.tortuga-texto-div {
    grid-column: 35;
    grid-row: 15;
}

.vibora {
    grid-column: 42/49;
    grid-row: 10/17;
}

#vibora {
    height: 100%;
    width: 100%;
}

.vibora-texto-div {
    grid-column: 41;
    grid-row: 8;
}